@model Vweb.Models.Schedule

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Schedule</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RoadScore)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoadScore)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HomeScore)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomeScore)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GameDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GameDateTime)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
