@model Vweb.Models.TeamSchedule

@using (Ajax.BeginForm("EditScore", "Schedule", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "EditSuccess"
        }, new { @id = "EditScoreForm" }))
{

    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Score Edit for @Model.GameDateTime.ToString("MMMM d, yyyy")</legend>
        <p id="HomeTeamName">
        </p>

        @Html.HiddenFor(model => Model.Home_Team.ID)

        @Html.HiddenFor(model => Model.Road_Team.ID)
        @Html.HiddenFor(model => Model.GameDateTime)

        <div>
            <label class="ScoreSubmitLabel">@Model.Home_Team.Name</label>
            @Html.TextBoxFor(model => model.HomeScore,new {@class= "ScoreUpdateTextBox ItemPositionRight" })
        </div>
        <div></div>
        <div>
            <p></p>
            <label class="ScoreSubmitLabel">@Model.Road_Team.Name</label>
            @Html.TextBoxFor(model => model.RoadScore,new {@class= "ScoreUpdateTextBox ItemPositionRight" })
        </div>
        <p></p>
        <button class="uk-button-mini ItemPositionRight">Update Score</button>
        <button class="uk-button-mini ItemPositionRight">Cancel</button>
        <p></p>
    </fieldset>
        
}
