@model Vweb.Models.TeamSchedule

@using (Ajax.BeginForm("UpdateScore", "Schedule", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "updateSuccess"
        }, new { @id = "updateScoreForm" }))
{

    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Score Submission for @Model.GameDateTime.ToString("MMMM d, yyyy")</legend>
        <p id="HomeTeamName">
        </p>

        @Html.HiddenFor(model => Model.Home_Team.ID)

        @Html.HiddenFor(model => Model.Road_Team.ID)
        @Html.HiddenFor(model => Model.GameDateTime)

        <div>
            <label class="ScoreSubmitLabel">@Model.Home_Team.Name</label>
            @Html.TextBoxFor(model => model.HomeScore,new {@class= "ScoreUpdateTextBox ItemPositionRight" })
        </div>
        <div></div>
        <div>
            <p></p>
            <label class="ScoreSubmitLabel">@Model.Road_Team.Name</label>
            @Html.TextBoxFor(model => model.RoadScore,new {@class= "ScoreUpdateTextBox ItemPositionRight" })
        </div>
        <p></p>
        <button class="uk-button-mini ItemPositionRight">Submit Score</button>
        <button class="uk-button-mini ItemPositionRight">Cancel</button>
        <p></p>






  @*<div id="form-div">
    <form class="form" id="form1">
      
      <p class="name">
        <input name="@Model.Home_Team.Name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="@Model.Home_Team.Name"  id="name" />
      </p>
      
      <p class="email">
        <input name="@Model.Road_Team.Name" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="@Model.Road_Team.Name" />
      </p>
      
      
      
      <div class="submit">
        <input type="submit" value="SEND" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
<div>*@













    
    
    </fieldset>
        
}
